
body {
    margin: 0;
    font-family: 'Dosis', sans-serif;;
}

button {
    font-family: 'Dosis', sans-serif;
}

h2 {
    color: #233148;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

h3 {
    color: #233148;
    font-weight: 900;
}

section {
    padding: 100px 0;
}

.btn {
    padding: 15px 35px;
    border: none;
    background-color: #00fff0;
    border-radius: 10px;
    color: #342934;
    font-size: 14px;
    font-weight: 900;
}

.content {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.small-content {
    max-width: 600px;
}
.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(000, 000, 000, 0.5);
}

.block {
    width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.text-left {
    text-align: start;
}

.text-right {
    text-align: end;
}

.text-center {
    text-align: center;
}

@media only screen and (min-width: 900px) {
    .block {
        width: 50%;
    }
}